<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="windownPositionX" value="0"/>
		<add key="windownPositionY" value="0"/>
		<add key="sizeH" value="400"/>
		<add key="sizeW" value="600"/>
	</appSettings>
</configuration>